<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseItem">
            <h2><span jhiTranslate="jshop11App.purchaseItem.detail.title">Purchase Item</span> {{purchaseItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jshop11App.purchaseItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{purchaseItem.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.purchaseItem.product">Product</span></dt>
                <dd>
                    <div *ngIf="purchaseItem.product">
                        <a [routerLink]="['/product', purchaseItem.product?.id, 'view']">{{purchaseItem.product?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jshop11App.purchaseItem.purchase">Purchase</span></dt>
                <dd>
                    <div *ngIf="purchaseItem.purchase">
                        <a [routerLink]="['/purchase', purchaseItem.purchase?.id, 'view']">{{purchaseItem.purchase?.docNumber}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-item', purchaseItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
