<div>
    <h2 id="page-heading">
        <span jhiTranslate="jshop11App.purchaseItem.home.title">Purchase Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase-item" [routerLink]="['/purchase-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jshop11App.purchaseItem.home.createLabel">
            Create a new Purchase Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="purchaseItems?.length === 0">
        <span jhiTranslate="jshop11App.purchaseItem.home.notFound">No purchaseItems found</span>
    </div>
    <div class="table-responsive" *ngIf="purchaseItems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="jshop11App.purchaseItem.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="product.name"><span jhiTranslate="jshop11App.purchaseItem.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="purchase.docNumber"><span jhiTranslate="jshop11App.purchaseItem.purchase">Purchase</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let purchaseItem of purchaseItems ;trackBy: trackId">
                <td><a [routerLink]="['/purchase-item', purchaseItem.id, 'view' ]">{{purchaseItem.id}}</a></td>
                <td>{{purchaseItem.quantity}}</td>
                <td>
                    <div *ngIf="purchaseItem.product">
                        <a [routerLink]="['/product', purchaseItem.product?.id, 'view' ]" >{{purchaseItem.product?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="purchaseItem.purchase">
                        <a [routerLink]="['/purchase', purchaseItem.purchase?.id, 'view' ]" >{{purchaseItem.purchase?.docNumber}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/purchase-item', purchaseItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase-item', purchaseItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase-item', { outlets: { popup: purchaseItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
