<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productGroup">
            <h2><span jhiTranslate="jshop11App.productGroup.detail.title">Product Group</span> {{productGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jshop11App.productGroup.name">Name</span></dt>
                <dd>
                    <span>{{productGroup.name}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.productGroup.description">Description</span></dt>
                <dd>
                    <span>{{productGroup.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-group', productGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
