<div>
    <h2 id="page-heading">
        <span jhiTranslate="jshop11App.productGroup.home.title">Product Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-group" [routerLink]="['/product-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jshop11App.productGroup.home.createLabel">
            Create a new Product Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productGroups?.length === 0">
        <span jhiTranslate="jshop11App.productGroup.home.notFound">No productGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="productGroups?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jshop11App.productGroup.name">Name</span></th>
            <th><span jhiTranslate="jshop11App.productGroup.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productGroup of productGroups ;trackBy: trackId">
                <td><a [routerLink]="['/product-group', productGroup.id, 'view' ]">{{productGroup.id}}</a></td>
                <td>{{productGroup.name}}</td>
                <td>{{productGroup.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-group', productGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-group', productGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-group', { outlets: { popup: productGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
