<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="jshop11App.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jshop11App.client.firstName">First Name</span></dt>
                <dd>
                    <span>{{client.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.client.lastName">Last Name</span></dt>
                <dd>
                    <span>{{client.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.client.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'jshop11App.Gender.' + client.gender}}">{{client.gender}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.client.phone">Phone</span></dt>
                <dd>
                    <span>{{client.phone}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.client.addressLine1">Address Line 1</span></dt>
                <dd>
                    <span>{{client.addressLine1}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.client.user">User</span></dt>
                <dd>
                    {{client.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
