<div>
    <h2 id="page-heading">
        <span jhiTranslate="jshop11App.purchase.home.title">Purchases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase" [routerLink]="['/purchase/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jshop11App.purchase.home.createLabel">
            Create a new Purchase
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="purchases?.length === 0">
        <span jhiTranslate="jshop11App.purchase.home.notFound">No purchases found</span>
    </div>
    <div class="table-responsive" *ngIf="purchases?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dt"><span jhiTranslate="jshop11App.purchase.dt">Dt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jshop11App.purchase.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="docNumber"><span jhiTranslate="jshop11App.purchase.docNumber">Doc Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="client.lastName"><span jhiTranslate="jshop11App.purchase.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchase of purchases ;trackBy: trackId">
                <td><a [routerLink]="['/purchase', purchase.id, 'view' ]">{{purchase.id}}</a></td>
                <td>{{purchase.dt | date:'medium'}}</td>
                <td jhiTranslate="{{'jshop11App.PurchaseStatus.' + purchase.status}}">{{purchase.status}}</td>
                <td>{{purchase.docNumber}}</td>
                <td>
                    <div *ngIf="purchase.client">
                        <a [routerLink]="['/client', purchase.client?.id, 'view' ]" >{{purchase.client?.lastName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/purchase', purchase.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase', purchase.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase', { outlets: { popup: purchase.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="purchases?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
