<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchase">
            <h2><span jhiTranslate="jshop11App.purchase.detail.title">Purchase</span> {{purchase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jshop11App.purchase.dt">Dt</span></dt>
                <dd>
                    <span>{{purchase.dt}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.purchase.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jshop11App.PurchaseStatus.' + purchase.status}}">{{purchase.status}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.purchase.docNumber">Doc Number</span></dt>
                <dd>
                    <span>{{purchase.docNumber}}</span>
                </dd>
                <dt><span jhiTranslate="jshop11App.purchase.client">Client</span></dt>
                <dd>
                    <div *ngIf="purchase.client">
                        <a [routerLink]="['/client', purchase.client?.id, 'view']">{{purchase.client?.lastName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase', purchase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
